.wrapper{
    max-width: 100%;
    margin: 0 auto;
   
}
.container{
    margin: 3% 25%; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 600px;
    width: 700px;
    
}
.sedans{
    box-sizing: border-box;
    background-color: hsl(31, 77%, 52%);
    color: white;
    height: 450px;
    width: 300px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding:30px ;
    
}
.suv{
    box-sizing: border-box;
    background-color: hsl(184, 100%, 22%);
    color: white;
    height: 450px;
    width: 300px;
    padding:30px ;
}
.luxury{
    box-sizing: border-box;
    background-color: hsl(179, 100%, 13%);
    color: white;
    height: 450px;
    width: 300px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding:30px;
}
h1{
    font-family: 'Big Shoulders Display', cursive;
}
p{
    font-family: 'Lexend Deca', sans-serif;
    text-align: justify;
    height: 100px;
    font-size: 15px;
  
    
}

.btn-1{
    border-radius: 30px;
    padding: 10px 25px;
    border: 1px solid hsl(31, 77%, 52%);
    color: hsl(31, 77%, 52%);
    background-color: white;
    font-weight: bold;
    margin-top:50px ;
    
}
.btn-1:hover{
    color: white;
    background-color: hsl(31, 77%, 52%);
    border: 1px solid white;
    
}


.btn-2{
    border-radius: 30px;
    padding: 10px 25px;
    border: 1px solid hsl(184, 100%, 22%);
    color: hsl(184, 100%, 22%);
    background-color: white;
    font-weight: bold;
    margin-top:50px ;
    
}
.btn-2:hover{
    color: white;
    background-color: hsl(184, 100%, 22%);
    border: 1px solid white;
    
}
.btn-3{
    border-radius: 30px;
    padding: 10px 25px;
    border: 1px solid hsl(179, 100%, 13%);
    color: hsl(179, 100%, 13%);
    background-color: white;
    font-weight: bold;
    margin-top:50px ;
    
}
.btn-3:hover{
    color: white;
    background-color: hsl(179, 100%, 13%);
    border: 1px solid white;
    
}
@media screen and (max-width: 600px){
    .wrapper{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .container{
        margin: 0 15%; 
        display: flex;
        flex-flow: column;
        background-color: white;
        width: 100%;
        height: 1000px;
        margin-left: 0;
        padding: 0;
        margin-top: 80%;
        margin-bottom: 80%;
   
    }
  .sedans{
    height:600px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 0;
    width: 300px;
    padding: 10%;
  }
  .suv{
      height: 600px;
      width: 300px;
      padding: 10%;
  }
  .luxury{
    height: 600px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 300px;
    padding: 10%;
  }
  .btn{
      margin-top: 30px;
  }
}
